.vertical-center {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}
.vertical-center .container-fluid {
  flex-grow:1
}
h1 {
  margin: 24px 0;
}

ul.list-group {
  max-height: 50vh;
  overflow-y: scroll;
}

.message-stamp {
    color: #2E6D88;
    float: right;
}

.message {
}

.typing {
  font-style: italic;
}
.msg-delieverd {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  color: #2F99F5;
}
.msg-read {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  color: #2AC151;
}

.well {
    margin-top: 15px;
}

.card {
    max-width: 100px;
    max-height: 100px;    
    transition: transform 0.3s;
}

.card.active:hover {
    transform: scale(1.2);
}

.card.active {
    transform: translate(0%,-10%);
}

#cardareaN {
    position: absolute;
    top: 40px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%,0%) rotate(180deg);
}

#biddingN {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
}

#cardareaS {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%,0%);
    white-space: nowrap;
}

#biddingS {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
}

#cardareaW {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(-50%,-50%) rotate(90deg) translate(0,-50%) translate(0,-40px);
    white-space: nowrap;
}

#biddingW {
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translate(0%,-50%);
    white-space: nowrap;
}

#cardareaE {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(50%,-50%) rotate(-90deg) translate(0,-50%) translate(0,-40px);
    white-space: nowrap;
}

#biddingE {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translate(0%,-50%);
    white-space: nowrap;
}

.playedcards {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 275px;
    height: 275px;
}

#playedcards {
    z-index: 1;
}

.SP {
    position:absolute;
    bottom:0px;
    left:50%;
    transform: translate(-50%,0%);
}
.WP {
    position:absolute;
    left:0px;
    top:50%;
    transform: translate(-50%,-50%) rotate(90deg) translate(0,-50%);
}
.NP {
    position:absolute;
    top:0px;
    left:50%;
    transform: translate(-50%,0%) rotate(180deg);
}
.EP {
    position:absolute;
    right:0px;
    top:50%;
    transform: translate(50%,-50%) rotate(-90deg) translate(0,-50%);
}

.playedcards.trick {
    transform: translate(-50%,-50%) scale(0.1);
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

.playedcards.W {
    left: 0%;
    top: 50%;
}
.playedcards.E {
    left: 100%;
    top: 50%;
}
.playedcards.S {
    left: 50%;
    top: 100%;
}
.playedcards.N {
    left: 50%;
    top: 0%;
}

.names {
    border-radius: 10px;
    position: absolute;
}

#nameW {
    left: 10px;
    top: 50%;
    transform: translate(0%,-50%);    
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 10px 2px 10px 2px;
}

#nameE {
    right: 10px;
    top: 50%;
    transform: translate(0%,-50%);    
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 10px 2px 10px 2px;
}

#nameS {
    left:50%;
    bottom: 10px;
    transform: translate(-50%,0%);
    padding: 2px 10px 2px 10px;
}

#nameN {
    left:50%;
    top: 10px;
    transform: translate(-50%,0%);    
    padding: 2px 10px 2px 10px;
}

#trickS {
    position: absolute;
    left:55%;
    bottom: 0px;
    transform: scale(0.25) rotate(-90deg);
    white-space: nowrap;
}

#trickN {
    position: absolute;
    left:55%;
    top: 0px;
    transform: scale(0.25) rotate(-90deg);
    white-space: nowrap;
}

#trickW {
    position: absolute;
    left:55%;
    bottom: 0px;
    transform: scale(0.25) rotate(-90deg);
    white-space: nowrap;
}

#trickE {
    position: absolute;
    left:55%;
    top: 0px;
    transform: scale(0.25) rotate(-90deg);
    white-space: nowrap;
}

.scores th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.scores td {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: black
    padding: 5px;
    text-align: center;
}

.ready {
    position: absolute;
    right: 10px;
    top: 10px;
}

#bid {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 200%;
}

.first-player {
    background-color: yellow;
}
